footer {
    padding: 3px;
    background-color:  #0c7475;

    text-align: center;
    }
    
    .flex-footer{
    display: flex;
    place-items: center;
    }
    
    .footer-tablebox{
    
    width: 100%;
      border-right: solid 1px #fff;
    
    }
    .footer-headline{
      color: #fff;
      font-size: 24px;
     font-weight: bold
    }
    .footer-navlink{
      padding: 0;
    }
    .footer-navlink li{
      list-style-type: none;
    }
    .footer-navlink a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    }
    
    .footer-seperator{
        margin: 20px 0;
    }
    
    .footer-logo-box{
    margin: auto;
    
    }
    
    .logo-footer img{
    height:24px;
  
    cursor: pointer;
    }

    
@media(max-width:768px){
.flex-footer{
flex-direction:column;
}
        
.footer-tablebox{
border: none;
border-bottom: solid 1px #fff;
margin-bottom: 1em;}
}
       